In [7]:
import pandas as pd
import numpy as np

In [8]:
dataset2 = pd.read_csv('DataSet2.csv')

In [9]:
dataset2df = pd.DataFrame(dataset2)

In [10]:
print(dataset2df)

    Duration          Date  Pulse  Maxpulse  Calories Gender
0         60  '2020/12/01'    110       130     409.1      m
1         60  '2020/12/02'    117       145     479.0      f
2         60  '2020/12/03'    103       135     340.0      f
3         45  '2020/12/04'    109       175     282.4      f
4         45  '2020/12/05'    117       148     406.0      m
5         60  '2020/12/06'    102       127     300.0      f
6         60  '2020/12/07'    110       136     374.0      m
7        450  '2020/12/08'    104       134     253.3      m
8         30  '2020/12/09'    109       133     195.1      m
9         60  '2020/12/10'     98       124     269.0      f
10        60  '2020/12/11'    103       147     329.3      m
11        60  '2020/12/12'    100       120     250.7      m
12        60  '2020/12/12'    100       120     250.7      f
13        60  '2020/12/13'    106       128     345.3      f
14        60  '2020/12/14'    104       132     379.3      f
15        60  '2020/12/15'     98       123     275.0      m
16        60  '2020/12/16'     98       120     215.2      f
17        60  '2020/12/17'    100       120     300.0      m
18        45  '2020/12/18'     90       112       NaN      m
19        60  '2020/12/19'    103       123     323.0      m
20        45  '2020/12/20'     97       125     243.0      f
21        60  '2020/12/21'    108       131     364.2      m
22        45           NaN    100       119     282.0      f
23        60  '2020/12/23'    130       101     300.0      m
24        45  '2020/12/24'    105       132     246.0      f
25        60  '2020/12/25'    102       126     334.5      m
26        60      20201226    100       120     250.0      f
27        60  '2020/12/27'     92       118     241.0      m
28        60  '2020/12/28'    103       132       NaN      m
29        60  '2020/12/29'    100       132     280.0      f
30        60  '2020/12/30'    102       129     380.3      m
31        60  '2020/12/31'     92       115     243.0      m

In [11]:
dataset2df.head()

   Duration          Date  Pulse  Maxpulse  Calories Gender
0        60  '2020/12/01'    110       130     409.1      m
1        60  '2020/12/02'    117       145     479.0      f
2        60  '2020/12/03'    103       135     340.0      f
3        45  '2020/12/04'    109       175     282.4      f
4        45  '2020/12/05'    117       148     406.0      m

In [12]:
var1 = pd.get_dummies(dataset2df['Gender'])

In [13]:
var1.head()

   f  m
0  0  1
1  1  0
2  1  0
3  1  0
4  0  1

In [14]:
var2 = pd.concat([dataset2df, var1], axis = 1)

In [15]:
var2.head()

   Duration          Date  Pulse  Maxpulse  Calories Gender  f  m
0        60  '2020/12/01'    110       130     409.1      m  0  1
1        60  '2020/12/02'    117       145     479.0      f  1  0
2        60  '2020/12/03'    103       135     340.0      f  1  0
3        45  '2020/12/04'    109       175     282.4      f  1  0
4        45  '2020/12/05'    117       148     406.0      m  0  1

In [17]:
from sklearn import preprocessing
normal = preprocessing.normalize(dataset2df['Calories'])

ValueError: Expected 2D array, got 1D array instead:
array=[409.1 479.  340.  282.4 406.  300.  374.  253.3 195.1 269.  329.3 250.7
 250.7 345.3 379.3 275.  215.2 300.    nan 323.  243.  364.2 282.  300.
 246.  334.5 250.  241.    nan 280.  380.3 243. ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.